.tab-options {
  box-shadow: var(--border-white) 0px -0.5px 0px inset;
}

.options-wrapper {
  display: flex;
  overflow-x: auto; /* Add horizontal scrolling for smaller screens */
}

.tab-item {
  margin-right: 24px;
  padding: 12px 12px 20px 12px;
}

.tab-name {
  color: var(--inactive-text);
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
}

.tab-image-container {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--inactive-color);
}

.tab-image {
  height: 30px;
  width: 30px;
}

.active-tab {
  border-bottom: 2px solid var(--zomato-red);
}

.active-tab .tab-name {
  color: var(--zomato-red);
}

/* Media query for devices with a maximum width of 768 pixels */
@media screen and (max-width: 768px) {
  .options-wrapper {
      flex-wrap: nowrap; /* Disable wrapping */
      overflow-x: auto;
      padding-bottom: 8px;
  }

  .tab-item {
      margin-right: 16px;
      padding: 8px;
  }

  .tab-name {
      font-size: 16px;
  }

  .tab-image-container {
      height: 40px;
      width: 40px;
  }

  .tab-image {
      height: 20px;
      width: 20px;
  }
}
